.root {
	-fx-focus-color: #B8860B;
	-fx-faint-focus-color: #B8860B22;
}

.button{
	-fx-effect: dropshadow(gaussian, rgba(0.043, 0.035, 0.035, 1), 5.0, 0.2, 1, 1);
}

.button:pressed{
	-fx-effect: null;
}

.choice-box .menu-item:focused {
	-fx-background-color: darkgoldenrod;
}

.actionButton {
	-fx-background-color: darkgoldenrod;
	-fx-text-fill: white;
	-fx-border-radius: 5px;
}

.combo-box {
	-fx-min-width: 25px;
	-fx-min-height: 18px;

	-fx-max-height: 50px;

	-fx-font-size: 11px;
	-fx-background-radius: 0;

	-fx-background-color: transparent;
	-fx-border-width: 1px;
	-fx-border-radius: 5px;
	-fx-border-color: #ffffff;
	-fx-mark-color: white;
}

.combo-box .list-cell {
	-fx-font-family: Verdana;
	-fx-text-fill: white;
	-fx-background-color: #272522;
	-fx-background-radius: 5px;
}

.combo-box .list-view {
	-fx-max-height: 500px;
	-fx-background-color: #272522;
	-fx-text-fill: white;
	-fx-cursor: HAND;
}

.combo-box .list-view .list-cell > .label {
	-fx-text-fill: white;
}

.combo-box .list-view .list-cell:hover {
	-fx-background-color: darkgoldenrod;
}

.combo-box .list-view .list-cell:focused {
	-fx-background-color: darkgoldenrod;
}

.check-box .box {
	-fx-background-color: white;
	-fx-border-color: #272522;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.check-box:selected .mark {
	-fx-background-color: white;
}

.check-box:selected .box {
	-fx-background-color: darkgoldenrod;
}

.textField {
	-fx-background-color: #272522;
	-fx-text-fill: white;
	-fx-border-color: #272522;
	-fx-border-radius: 5px;
}
