apiVersion: v1
kind: Namespace
metadata:
  name: iot-home-automation
---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-secret
  namespace: iot-home-automation
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "rootpassword"
  MYSQL_PASSWORD: "0BXY5[ei<*6__nG(}BR"
  MYSQL_USER: "home_automation_user"
  MYSQL_DATABASE: "home_automation"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: iot-home-automation
data:
  SPRING_DATASOURCE_URL: "jdbc:mariadb://mariadb-service:3306/home_automation"
  SPRING_DATASOURCE_USERNAME: "home_automation_user"
  SPRING_SQL_INIT_MODE: "always"
  SPRING_PROFILES_ACTIVE: "docker"
  MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "health,info,prometheus,metrics"
