@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<div id="Content">
<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
</div>
