@import '../../view/register/register.component.scss';

.info-box {
  background-color: rgba($primary, 0.05);
  border-left: 3px solid $primary;
  padding: 10px;
  font-size: 0.85rem;
  color: $text-secondary;
  margin-bottom: 20px;
  line-height: 1.4;
}